/* CSS for timeline */

.render-the-fuck > text.title {
  fill: #000000;
  font-size: 1.5em;
  font-weight: bold;
  text-anchor: middle;
}

.render-the-fuck > rect.bg {
  fill: #f7f7f7;
}

.render-the-fuck > g.axes > line {
  stroke: #303030;
  stroke-width: 1.0;
  stroke-dasharray: 6,3;
}

.render-the-fuck > g.axes-title > text {
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: text-before-edge;
}

.render-the-fuck > g.bars > rect:nth-child(5n+1) { fill: #a00000; }
.render-the-fuck > g.bars > rect:nth-child(5n+2) { fill: #a05000; }
.render-the-fuck > g.bars > rect:nth-child(5n+3) { fill: #c0c000; }
.render-the-fuck > g.bars > rect:nth-child(5n+4) { fill: #00a000; }
.render-the-fuck > g.bars > rect:nth-child(5n) { fill: #0000a0; }

.render-the-fuck > g.bars-base > rect { fill: #909090; }

.render-the-fuck > g.bars-title > text,
.render-the-fuck > g.bars-title > a > text {
  fill: #ffffff;
  dominant-baseline: central;
}