.render-the-fuck > text.title {
  fill: #000000;
  font-size: 1.2em;
  font-weight: bold;
  text-anchor: middle;
}

.render-the-fuck > text.subtitle {
  fill: #505050;
  font-size: 0.8em;
  font-weight: bold;
  text-anchor: middle;
}

.render-the-fuck > rect.bg {
  fill: #f7f7f7;
  stroke: #b0b0b0;
  stroke-width: 1.5;
  stroke-linecap: round;
}
