.render-the-fuck.rtf-stack > g.itemGroup > rect:nth-child(5n+1) { fill: #0000a0; }
.render-the-fuck.rtf-stack > g.itemGroup > rect:nth-child(5n+2) { fill: #a05000; }
.render-the-fuck.rtf-stack > g.itemGroup > rect:nth-child(5n+3) { fill: #00a000; }
.render-the-fuck.rtf-stack > g.itemGroup > rect:nth-child(5n+4) { fill: #c0c000; }
.render-the-fuck.rtf-stack > g.itemGroup > rect:nth-child(5n)   { fill: #a00000; }
.render-the-fuck.rtf-stack > g.labelGroup > text {
  fill: #ffffff;
  text-anchor: middle;
  dominant-baseline: central;
}
